//@import "~bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap";
$brand-color: #3574a5c7;
$bs-navbar-toggler-font-size: 1.65rem;

body{
  min-width: 296px;
}
header{
  .navbar{
    padding-top: 0;
    padding-bottom: 0;
    flex-wrap: nowrap;
  }
  .navbar-toggler{
    font-size: $bs-navbar-toggler-font-size;
  }
  img{
    width: 11rem;
  }
  a{
    text-decoration: none;
    color: $brand-color;
    font-size: 24px;
    margin: 0px 15px 0px 15px;
    font-weight: 600;
  }
}
//@media (min-width: 992px)
@include media-breakpoint-down(lg) {
  .navbar-collapse {
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    position: absolute;
    width: 100%;
    top: 7.90rem;
    left: 0;
    z-index: 2;
  }
  hr{
    margin: 0.85rem;
  }
  .dropdown-item{
    width: inherit;
  }
}
//@media (min-width: 768px)
@include media-breakpoint-up(lg) {
  hr{
    display: none;
  }
}
main{
  //@media (min-width: 400px)
  @include media-breakpoint-down(md) {
    .row{
      flex-direction: column;
    }
  }
  
}
footer{
  .btn{
    --bs-btn-border-width: 0px;
    
  }
  .btn-lg {
    border-radius: 50%;
    --bs-btn-padding-y: 0.30rem;
    --bs-btn-padding-x: 0.50rem;
  }
  svg{
    font-size: 1.7rem;
    vertical-align: text-bottom;
  }
  .instagram{
    background: linear-gradient(45deg, #fdf497, #fdf497, #fd5949,#d6249f,#285AEB);
  }
  
}